.consent-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2147483631;
  display: block;
  width: calc(100% - $spacing-2);
  max-width: 900px;
  max-height: calc(100% - $spacing-2);
  border-radius: var(--border-radius, $base-border-radius);
  background-color: var(--color-white, $color-white);
  color: var(--base-color, $color-grey-3);
  font-family: var(--base-font-family, $base-font-family);
  font-size: var(--base-font-size, $base-font-size);
  line-height: 1.4;
  letter-spacing: 0.1px;
  text-align: initial;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition: $base-transition;
  transition-property: width, max-width, top, bottom, left, opacity;
  box-sizing: border-box;
  box-shadow: $base-shadow;

  &__inner {
    display: block;
  }

  &__body {
    display: block;
    padding: 0 $spacing-2;
    overflow: hidden;
    overflow-y: auto;
    @media (min-width: 600px) {
      padding: 0 $spacing-5;
    }
  }

  &__updated {
    display: block;
    padding: $spacing-2 $spacing-2;
    border-top: var(--base-line, $base-line);
    color: var(--color-text-light, $color-grey-4);
    font-size: 85%;
    @media (min-width: 600px) {
      padding: $spacing-2 $spacing-5;
    }
  }

  &__footer {
    display: flex;
    gap: $spacing-1;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: 0;
    padding: $spacing-2;
    border-top: var(--base-line, $base-line);
    @media (min-width: 600px) {
      gap: $spacing-2;
      flex-direction: row;
    }
  }
}
