%consent-dialog-inner-shadow {
  box-shadow: 0 0 $spacing-4 var(--color-white, $color-white), 0 0 $spacing-3 var(--color-white, $color-white), 0 0 $spacing-2 var(--color-white, $color-white), 0 0 $spacing-1 var(--color-white, $color-white), 0 0 $spacing-05 var(--color-white, $color-white);

  // box-shadow: 0 0 $spacing-4 var(--color-bw-10, $color-bw-10), 0 0 $spacing-3 var(--color-bw-10, $color-bw-10), 0 0 $spacing-2 var(--color-bw-10, $color-bw-10), 0 0 $spacing-1 var(--color-bw-10, $color-bw-10), 0 0 $spacing-05 var(--color-bw-10, $color-bw-10);
}

// .consent-dialog
.c-d {
  position: fixed;
  z-index: 2147483631;
  display: block;
  width: calc(100% - $spacing-2);
  max-width: 900px;
  max-height: calc(100% - $spacing-2);
  border-radius: var(--border-radius, $base-border-radius);
  background-color: var(--color-white, $color-white);
  color: var(--base-color, $color-grey-3);
  font-family: var(--base-font-family, $base-font-family);
  font-size: var(--base-font-size, $base-font-size);
  line-height: 1.4;
  letter-spacing: 0.1px;
  text-align: initial;
  overflow: hidden;
  transform: translate(-50%, 0);
  transition: $base-transition;
  transition-property: width, max-width, top, bottom, left, opacity;
  box-sizing: border-box;
  box-shadow: var(--base-shadow, $base-shadow);
  inset: auto auto 1rem 50%;

  // .consent-dialog__header
  &__h {
    @extend %consent-dialog-inner-shadow;
    position: relative;
    z-index: 1;
  }

  // .consent-dialog__inner
  &__i {
    position: relative;
    display: block;
  }

  // .consent-dialog__body
  &__b {
    display: block;
    padding: 0 $spacing-2;
    overflow: hidden;
    overflow-y: auto;
  }

  // .consent-dialog__updated
  &__u {
    display: block;
    padding: $spacing-2 $spacing-2;
    border-top: var(--base-line, $base-line);
    color: var(--color-text-light, $color-grey-4);
    font-size: 85%;
  }

  // .consent-dialog__footer
  &__f {
    @extend %consent-dialog-inner-shadow;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: 0;
    padding: $spacing-2;
    border-top: var(--base-line, $base-line);
  }

  // .consent-dialog__footer-buton
  &__f-b + &__f-b {
    margin: 0 0 $spacing-1 0;
  }

  @media ($md-up) {
    &__b {
      padding: 0 $spacing-5;
    }

    &__u {
      padding: $spacing-2 $spacing-5;
    }

    &__f {
      flex-direction: row;
    }

    &__f-b + &__f-b {
      margin: 0 0 0 $spacing-2;
    }
  }
}
