.consent-button {
  display: flex;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
  padding: var(--spacing-05) var(--spacing-1);
  border-radius: var(--border-radius, 6px);
  border: 0 none;
  background-color: var(--button-default__bg-color, #f4f4f4);
  color: var(--button-default__color, #242424);
  min-height: var(--spacing-6);
  align-items: center;
  font-weight: 600;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  appearance: button;
  flex: 0 0 auto;
  text-decoration: none;
  font-weight: bolder;
  transition: .2s linear;
  transition-property: background-color, color, border, box-shadow;

  &--default {
    background-color: var(--button-default__bg-color, #f4f4f4);
    color: var(--button-default__color, #242424);
    text-transform: var(--button-default__text-transform, none);
    border: var(--button-default__border, 1px solid #f4f4f4);
    box-shadow: var(--button-default__box-shadow, none);

    &:hover {
      background-color: var(--button-default--hover__bg-color, #fff);
      color: var(--button-default--hover__color, #242424);
      border: var(--button-default--hover__border, 1px solid #d1d1d1);
      box-shadow: var(--button-default--hover__box-shadow, 0 0 17px 0 rgba(0,0,0,.1));
    }
  }

  &--primary {
    background-color: var(--button-primary__bg-color, #f8c132);
    color: var(--button-primary__color, #242424);
    text-transform: var(--button-primary__text-transform, uppercase);
    border: var(--button-primary__border, 0 none);
    box-shadow: var(--button-primary__box-shadow, none);

    &:hover {
      background-color: var(--button-primary--hover__bg-color, #efaf08);
      color: var(--button-primary--hover__color, #242424);
      border: var(--button-primary--hover__border, 0 none);
      box-shadow: var(--button-primary--hover__box-shadow, none);
    }
  }

  &__inner {
    display: flex;
  }

  @media (min-width: 600px) {
    min-width: 200px;
    padding: var(--spacing-1) var(--spacing-2);
  }
}

