// .consent-section
.c-s {
  display: block;
  padding: $spacing-3 0;

  & + & {
    border-top: var(--base-line, $base-line);
  }

  // .consent-section__inner
  &__i {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'header switch'
      'perex perex';
    gap: $spacing-2 $spacing-3;
  }

  // .consent-section__area-header
  &__a-h {
    display: flex;
    grid-area: header;
    align-items: center;
  }

  // .consent-section__area-perex
  &__a-p {
    grid-area: perex;
  }

  // .consent-section__area-switch
  &__a-s {
    grid-area: switch;
  }

  @media ($md-up) {
    &__i {
      grid-template-areas:
        'header header'
        'perex switch';
    }
  }
}
