.consent-button {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  min-height: $spacing-6;
  margin: 0;
  padding: $spacing-05 $spacing-1;
  border: 0 none;
  border-radius: var(--border-radius, $base-border-radius);
  background-color: var(--button-default__bg-color, #f4f4f4);
  color: var(--button-default__color, #242424);
  font-weight: 600;
  font-size: 100%;
  line-height: 1.4;
  text-decoration: none;
  transition: $base-transition;
  transition-property: background-color, color, border, box-shadow;
  cursor: pointer;
  user-select: none;
  appearance: button;

  &__inner {
    display: flex;
  }

  &--default {
    border: var(--button-default__border, 1px solid #f4f4f4);
    background-color: var(--button-default__bg-color, #f4f4f4);
    color: var(--button-default__color, #242424);
    text-transform: var(--button-default__text-transform, none);
    box-shadow: var(--button-default__box-shadow, none);

    &:hover {
      border: var(--button-default--hover__border, 1px solid #d1d1d1);
      background-color: var(--button-default--hover__bg-color, #ffffff);
      color: var(--button-default--hover__color, #242424);
      box-shadow: var(--button-default--hover__box-shadow, 0 0 17px 0 rgb(0 0 0 / 10%));
    }
  }

  &--primary {
    border: var(--button-primary__border, 0 none);
    background-color: var(--button-primary__bg-color, #f8c132);
    color: var(--button-primary__color, #242424);
    text-transform: var(--button-primary__text-transform, uppercase);
    box-shadow: var(--button-primary__box-shadow, none);

    &:hover {
      border: var(--button-primary--hover__border, 0 none);
      background-color: var(--button-primary--hover__bg-color, #efaf08);
      color: var(--button-primary--hover__color, #242424);
      box-shadow: var(--button-primary--hover__box-shadow, none);
    }
  }

  @media (min-width: 600px) {
    min-width: 200px;
    padding: $spacing-1 $spacing-2;
  }
}
