.consent-section {
  display: block;
  padding: $spacing-3 0;

  & + & {
    border-top: var(--base-line, 1px solid #d0d0d0);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'header switch'
      'perex perex';
    gap: $spacing-2 $spacing-3;

    @media (min-width: 600px) {
      grid-template-areas:
        'header header'
        'perex switch';
    }
  }

  &__area-header {
    grid-area: header;
  }

  &__area-perex {
    grid-area: perex;
  }

  &__area-switch {
    grid-area: switch;
  }
}
