.consent-button {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  min-height: $spacing-6;
  margin: 0;
  padding: $spacing-05 $spacing-1;
  border-radius: var(--border-radius, $base-border-radius);
  font-weight: 600;
  font-size: 100%;
  line-height: 1.4;
  text-decoration: none;
  transition: $base-transition;
  transition-property: background-color, color, border, box-shadow;
  cursor: pointer;
  user-select: none;
  appearance: button;

  &__inner {
    display: flex;
  }

  &--default {
    border: var(--button-default__border, $button-default-border);
    background-color: var(--button-default__bg-color, $button-default-bg);
    color: var(--button-default__color, $button-default-color);
    text-transform: var(--button-default__text-transform, $button-default-text-transform);
    box-shadow: var(--button-default__box-shadow, $button-default-shadow);

    &:hover {
      border: var(--button-default--hover__border, $button-default-hover-border);
      background-color: var(--button-default--hover__bg-color, $button-default-hover-bg);
      color: var(--button-default--hover__color, $button-default-hover-color);
      box-shadow: var(--button-default--hover__box-shadow, $button-default-hover-shadow);
    }
  }

  &--primary {
    border: var(--button-primary__border, $button-primary-border);
    background-color: var(--button-primary__bg-color, $button-primary-bg);
    color: var(--button-primary__color, $button-primary-color);
    text-transform: var(--button-primary__text-transform, $button-primary-text-transform);
    box-shadow: var(--button-primary__box-shadow, $button-primary-shadow);

    &:hover {
      border: var(--button-primary--hover__border, $button-primary-hover-border);
      background-color: var(--button-primary--hover__bg-color, $button-primary-hover-bg);
      color: var(--button-primary--hover__color, $button-primary-hover-color);
      box-shadow: var(--button-primary--hover__box-shadow, $button-primary-hover-shadow);
    }
  }

  @media (min-width: 600px) {
    min-width: 200px;
    padding: $spacing-1 $spacing-2;
  }
}
