// .consent-tabs
.c-ts {
  display: flex;
  gap: $spacing-1;
  padding: 0 $spacing-2;
  border-bottom: var(--base-line, $base-line);

  @media ($md-up) {
    gap: $spacing-3;
    padding: 0 $spacing-5;
  }
}
