
.switch-button {
  $r: &;
  display: grid;
  position: relative;
  cursor: pointer;
  aspect-ratio: 2/1;
  height: var(--spacing-3);

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1000;
    top: 0;
    left: 0;
  }
  &__background {
    display: block;
    position: relative;
    background-color: var(--color-black, #242424);
    border-radius: 1000px;
    overflow: hidden;
    transition: .2s linear;
    transition-property: transform, background-color;
  }
  &__point {
    display: block;
    content: '';
    border-radius: 1000px;
    aspect-ratio: 1/1;
    height: 100%;
    padding: 3px;
    transform: translateX(0);
    transition: .2s linear;
    transition-property: transform, background-color;
  }
  &__point::before {
    display: block;
    content: '';
    border-radius: 1000px;
    aspect-ratio: 1/1;
    background-color: var(--color-white, #fff);
    height: 100%;
  }

  &__input:checked ~ &__background {
    background-color: var(--color-primary, #f8c132);

    #{$r}__point {
      transform: translateX(100%);
    }
  }

  &__input:disabled ~ &__background {
    background-color: var(--color-grey, #d6d6d6);
    cursor: default;
  }
}
