.switch-button {
  $r: &;
  position: relative;
  display: grid;
  height: $spacing-3;
  cursor: pointer;
  aspect-ratio: 2/1;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    opacity: 0;
  }

  &__background {
    position: relative;
    display: block;
    border-radius: 1000px;
    background-color: var(--color-black, #242424);
    overflow: hidden;
    transition: $base-transition;
    transition-property: transform, background-color;
  }

  &__point {
    content: '';
    display: block;
    height: 100%;
    padding: 3px;
    border-radius: 1000px;
    transform: translateX(0);
    transition: $base-transition;
    transition-property: transform, background-color;
    aspect-ratio: 1/1;
  }

  &__point::before {
    content: '';
    display: block;
    height: 100%;
    border-radius: 1000px;
    background-color: var(--color-white, #ffffff);
    aspect-ratio: 1/1;
  }

  &__input:checked ~ &__background {
    background-color: var(--color-primary, #f8c132);

    #{$r}__point {
      transform: translateX(100%);
    }
  }

  &__input:disabled ~ &__background {
    background-color: var(--color-grey, #d6d6d6);
    cursor: default;
  }
}
