$switch-disabled-opacity: 0.25;
$switch-border-radius: 1000px;

%switch-button-transition {
  transition: $base-transition;
  transition-property: transform, background-color, opacity;
}

%switch-border-radius {
  border-radius: $switch-border-radius;
}

// .switch-button
.s-b {
  $r: &;
  position: relative;
  display: grid;
  width: 2 * $spacing-3;
  height: $spacing-3;
  cursor: pointer;

  // .switch-button__input
  &__i {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    appearance: none;
  }

  // .switch-button__background
  &__b {
    @extend %switch-button-transition;
    @extend %switch-border-radius;
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
      @extend %switch-button-transition;
      @extend %switch-border-radius;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--color-grey, $color-grey-2);
    }
  }

  // .switch-button__point
  &__p {
    @extend %switch-button-transition;
    @extend %switch-border-radius;
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    padding: 3px;
    transform: translateX(0);
  }

  &__p::before {
    @extend %switch-border-radius;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-white, $color-white);
  }

  &__i:checked ~ &__b {
    &::before {
      background-color: var(--color-primary, $color-primary);
    }

    #{$r}__p {
      transform: translateX(100%);
    }
  }

  &__i:disabled ~ &__b {
    opacity: $switch-disabled-opacity;
    cursor: default;

    &::before {
      background-color: var(--color-grey, $color-grey-2);
    }
  }

  &__i:disabled:checked ~ &__b {
    &::before {
      background-color: var(--color-primary, $color-primary);
    }
  }
}
