$t: 0.3s;

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: var(--_animate-in);
  }

  100% {
    opacity: 1;
    transform: var(--_animate-out);
  }
}

@keyframes animate-out {
  0% {
    opacity: 1;
    transform: var(--_animate-out);
  }

  100% {
    opacity: 0;
    transform: var(--_animate-in);
  }
}

// .animate
.a {
  &.in {
    animation-name: animate-in;
    animation-duration: $t;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  &.out {
    animation-name: animate-out;
    animation-duration: $t;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}
