@use 'sass:math';

// Spacing
$spacing-1: 10px;
$spacing-05: math.div($spacing-1, 2);
$spacing-2: ($spacing-1 * 2);
$spacing-3: ($spacing-1 * 3);
$spacing-4: ($spacing-1 * 4);
$spacing-5: ($spacing-1 * 5);
$spacing-6: ($spacing-1 * 6);
$spacing-7: ($spacing-1 * 7);
$spacing-8: ($spacing-1 * 8);
$spacing-9: ($spacing-1 * 9);
$spacing-10: ($spacing-1 * 10);
$spacing-11: ($spacing-1 * 11);
$spacing-12: ($spacing-1 * 12);

// Base variables
$base-transition: 0.2s linear;
$base-border-radius: 6px;
